<div class="entry" mat-row>
  <form action="">
    <!--  <input type="file" name="" id="">-->
    <h4>mat-select</h4>
    <mat-form-field appearance="fill">
      <mat-label>Match</mat-label>
      <mat-select>
        <mat-option value="host">Host</mat-option>
        <mat-option value="regex">RegEx</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>host</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <app-canvas></app-canvas>
  </form>
</div>
